			<!-- banner start -->
			<!-- ================ -->
			<div class="banner">
				<div class="fixed-image section light-translucent-bg" style="background-image:url('images/page-about-banner-2.jpg');">
					<div class="container">
					<div class="space-top"></div>
					<h1>Introduction</h1>
					<div class="separator-2"></div>
					<p class="lead">A multi-channel cloud based inventory management system, <br class="hidden-xs hidden-sm"> that will save your time and effort in conducting online sales <br class="hidden-xs hidden-sm"> across multiple websites.</p>
					</div>
				</div>
			</div>
			<!-- banner end -->

			<!-- page-intro start-->
			<!-- ================ -->
			<div class="page-intro">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li><i class="fa fa-home pr-10"></i><a href="#Home">Home</a></li>
								<li class="active">Features</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<!-- page-intro end -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-9">
							<div class="space-bottom"></div>
							<h2>Multi-channel Sales</h2>
							<!-- Tabs start -->
							<!-- ================ -->
							<div class="vertical">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-space-shuttle pr-10"></i> Accelerate your sales</a></li>
									<li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-clock-o pr-10"></i> Time is money</a></li>
									<li><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-home pr-10"></i> Your online shop</a></li>
									<li><a href="#vtab4" role="tab" data-toggle="tab"><i class="fa fa-bicycle pr-10"></i> Ease of use</a></li>
									<li><a href="#vtab5" role="tab" data-toggle="tab"><i class="fa fa-check pr-10"></i> Track your sales</a></li>
									<li><a href="#vtab6" role="tab" data-toggle="tab"><i class="fa fa-usd pr-10"></i> Attractive pricing</a></li>									
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane fade in active" id="vtab1">
										<h1 class="text-center title">Accelerate your Sales</h1>
										<p>By using our product, you can list your items for sale on multiple websites such as Facebook, eBay, Amazon, Flipkart, Etsy, Shopify, etc with a single click of a button. You don't have to worry about logging into multiple websites!</p>
										<p>This will help in boosting your sales as all buyers may not necessarily visit the only e-markeplace your are posting on.</p>
									</div>
									<div class="tab-pane fade" id="vtab2">
										<h1 class="text-center title">Time is Money</h1>
										<p>If you are selling your products on multiple websites such as eBay, Facebook, etc., we totally understand the pain you need to go through for synchronizing the items count across these different websites. With our cloud based multi-channel platform, you need not worry anymore!</p>
										<p>Our platform automatically synchronizes the item count across the different e-marketplaces you sell on. For example, if you have 10 items for sale on Facebook and eBay, item count will be reduced to 9 on Facebook automatically when 1 item is sold on eBay.</p>
									</div>
									<div class="tab-pane fade" id="vtab3">
										<h1 class="text-center title">Your Online Shop</h1>
										<p>We know that you have to spend thousands of dollars to get a website of your own to sell your products on. Don't worry, we are here to help you!</p>
										<p>When you sign up for our product, you also get a free website where you can sell your items on. There is no extra cost for this and it is absolutely free!</p>
									</div>
									<div class="tab-pane fade" id="vtab4">
										<h1 class="text-center title">Ease of Use</h1>
										<p>All you need to use our product is a Facebook account. Simply log in with your Facebook account and start using our product!</p>
										<p>Our product can be used on all devices - be it laptops or tablets or mobiles or phablets!</p>
									</div>
									<div class="tab-pane fade" id="vtab5">
										<h1 class="text-center title">Track your Sales</h1>
										<p>All the items that you sell on different e-marketplaces, can be tracked using our product. You can view the sales per e-marketplace or social website that your item has been sold on.</p>
										<p>These reports can also be downloaded to your desktop or any other device!</p>
									</div>
									<div class="tab-pane fade" id="vtab6">
										<h1 class="text-center title">Attractive Pricing</h1>
										<p>We offer the best prices in the market! Please check out our different subscription options.</p>					
										<a href="#Pricing" onclick="javascript:document.getElementById('mPricing').click();" class="btn btn-default btn-lg">Subscribe <i class="fa fa-angle-double-right pl-10"></i></a>			
									</div>
								</div>
							</div>
							<!-- tabs end -->
						</div> <!-- main -->
					</div> <!-- row -->
				</div> <!-- Container -->
			</section>