<center><img class="ui-widget-content" alt="custom-icon-composer" src ='images/f1.png' height='80' width='80' /></center>
<div id="faceBook-content" class="table-responsive">
<table class="table" style='border-top: 0;background-color:#ffffff;color:#000000;width:50%;' align="center">
<tr style='border-top: 0;background-color:rgb(247, 247, 253);'><td colspan="2" style='border-top:0;'><img src="images/fbArrow.png" align="right" height="15" width="15"/></td></tr>
<tr style='border-top: 0;width:50%;background-color:rgb(247, 247, 253);'>
<td colspan="2" style='border-top: 0;height:400px;width:400px;text-align: center; vertical-align: middle;' align="center"><img src="http://{{imgUrl1}}" style="max-height: 370px;max-width: 370px;"/></td>
</tr>
<tr style='border-top: 0;background-color:rgb(247, 247, 253);'>
<td style='border-top: 0;'><div align="left"><button><b>Like</b></button><button><b>Comment</b></button></div></td><td style='border-top: 0;'><div align="right"><button><b>Tag Photo</b></button></div></td>
</tr>
<tr style='border-top: 0;'>
 <td style='border-top: 0;' align="left"  colspan="2">
  <table border="0">
   <tr><td><img src="images/facebook_male.png" height="40" width="40"/></td><td align="left"><b style="color:darkblue;">&nbsp;{{fbUserName}}</b><br/>&nbsp;{{tittle}}</td></tr>   
   <tr><td></td><td align="left">Amount&nbsp;:&nbsp;{{itemPrice}}&nbsp;{{currencyCode}}</td></tr>
   <tr><td></td><td align="left">Buy&nbsp;:&nbsp;www.paypal.com</td></tr>
   <tr><td></td><td align="left">{{itemQuntity}}&nbsp;Quantity</td></tr>
   <tr><td></td><td align="left">Shipping Details&nbsp;:&nbsp;{{shippingService}}</td></tr>
   <tr><td></td><td align="left">Description&nbsp;:&nbsp;{{itemDesc}}</td></tr>
   <tr><td></td><td align="left"><a href="javescript:" style="color:darkblue;">Like</a>&nbsp;-&nbsp;<a href="javescript:" style="color:darkblue;">Comment</a>&nbsp;-&nbsp;<a href="javescript:" style="color:darkblue;">Stop Notifications</a>&nbsp;-&nbsp;<a href="javescript:" style="color:darkblue;">Share</a>&nbsp;-&nbsp;<a href="javescript:" style="color:darkblue;">Edit</a>&nbsp;&nbsp;Just Now via&nbsp;<a href="javescript:" style="color:gray;">SellInAll</a></td></tr>
   <tr><td></td><td align="left"  style="background-color:rgb(234, 234, 255);"><img src="images/facebook_male.png" height="40" width="40"/>&nbsp;<input type="text" placeholder="Write a comment" size="60"/></td></tr>
   <tr><td></td><td><br/></td></tr>
  </table>
 </td>
</tr>
</table>
</div>